# Xcode
.DS_Store
build/
DerivedData/
*.pbxuser
!default.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/
*.moved-aside
*.xcscmblueprint

# Swift Package Manager
/.swiftpm
/Package.resolved
# Code Coverage
*.xccoverage
*.xccovreport

# xcresult files
*.xcresult

# User-specific settings
*.swp
*.swo
*.swn

# Playgrounds
Timeline.playground/

# Xcode project index
*.xcuserstate